					<div class="link-box">
						<div class="in-link in-public clearfix">
							<span>友情链接：</span>
							<a href="http://hxkjhb.com/" target="_blank">十堰网站建设</a>
						</div>
					</div>

					<div class="in-pc">
						<div class="footer-1">
							<div class="in-public clearfix">
								<ul class="footer-1-left clearfix">
									<li>
										<h2> <a href="/about">关于力芯</a> </h2> <span> 
      <a href="/news">新闻动态</a> 
 
									<li>
										<h2> <a href="/products">产品中心</a> </h2> <span> 
      <a href="contact">联系我们</a> 
      </span> </li>
									<li>
										<h2> <a href="/equipments/">厂房设备</a> </h2> <span>  </span> </li>

								</ul>
								<div class="footer-1-centent">
									<span> <img src="/img/img-er.jpg"> </span>
									<strong>关注我们</strong>
								</div>
								<div class="footer-1-right">

									<span>地址：湖北省十堰市房县北城工业园一栋</span>
									<span>张先生：177-1237-7568  George.Zhang@powsemi.com</span>
									<span>夏先生：134-2510-3528  sales@powsemi.com</span>
									<span>电话：0719-3105699 传真：0719-3103688</span>
								</div>
							</div>
						</div>
						<div class="footer-2">
							<div class="in-public">
								<p>Copyright © 2017 All Rights reserved © 湖北力芯半导体有限公司 技术支持：<a href="http://www.hxkjhb.com/" target="_blank">华想科技</a> <a href="/sitemap.html" target="_blank">网站地图</a> </p>
							</div>
						</div>
