  <div class="heads min1200">
			<div class="w1200">
				<div class="fl">欢迎访问湖北力芯半导体有限公司官方网站！！</div>
				<div class="fr search">
					<form name="searchFrm" data-drupal-selector="search-form" id="search-form" method="get" action="/search/node" accept-charset="UTF-8">
						<input data-drupal-selector="edit-keys" class="inputText" id="edit-keys" name="keys" type="search" placeholder="请输入产品关键词">
						<label class="inputSubmit icon iconfont iconfangdajing"></label>
						<input class="invisible" name="f[0]" value="product">
            <input class="invisible" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="搜索" class="button js-form-submit form-submit">
					</form>
				</div>
				<div class="yuyan fr">
					<p class="language l">
						<a class="active" href="#">
							<label class="icon iconfont iconyuyan"></label>中文</a>
						<a href="#">
							<label class="icon iconfont iconyuyan"></label>English</a>
					</p>
				</div>
			</div>
    </div>

