<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
			
 <meta name="viewport" content="width=device-width, initial-scale=0, maximum-scale=0, user-scalable=yes,shrink-to-fit=no">
		<link rel="stylesheet" href="css/base4.0.css" />
		<link rel="stylesheet" href="css/style.css" />

		<link rel="stylesheet" href="css/swiper.min.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<link rel="stylesheet" href="css/aos.css" />

		<link rel="stylesheet" href="css/animate.min.css" />
	</head>

	<body>
		<div class="heads min1200">
			<div class="w1200">
				<div class="fl">欢迎访问湖北力芯半导体有限公司官方网站！！</div>
				<div class="fr search">
					<form name="searchFrm" id="searchFrm" method="post" action="/search.html">
						<input class="inputText" type="text" value="" name="keyword" placeholder="请输入产品关键词">
						<label class="inputSubmit icon iconfont iconfangdajing"></label>
					</form>
				</div>
				<div class="yuyan fr">
					<p class="language l">
						<a class="active" href="#">
							<label class="icon iconfont iconyuyan"></label>中文</a>
						<a href="#">
							<label class="icon iconfont iconyuyan"></label>English</a>
					</p>
				</div>

			</div>
		</div>
		<div class="menub">
			<div class="menu">
				<div class="menuL">
					<a href="index.html">
						<img src="img/logo.png">
					</a>
				</div>
				<div class="menuR">
					<ul class="nav">

						<li class="menus">
							<a href="index.html">首页</a>

						</li>
						<li class="menus ">
							<a href="关于我们.html">关于力芯</a>

						</li>
						<li class="menus">
							<a href="产品中心.html">产品中心 </a>

						</li>

						<li class="menus">
							<a href="厂房设备.html" class="nodrop">厂房设备 </a>
						</li>
						<li class="menus">
							<a href="新闻列表.html" class="nodrop">新闻动态</a>
						</li>
						<li class="menus">
							<a href="联系我们.html" class="nodrop">联系我们</a>
						</li>

						<li class="index-nav-3">
							<a href="#" class="clearfix"> <i class="icon iconfont icondianhua1"> </i>
								<div>
									<strong>资讯电话</strong>
									<span>0719-3105699</span>
								</div>
							</a>
						</li>
					</ul>
				</div>

			</div>
		</div>

		<!-- Swiper -->
		<div class="index-banner" aos="fade-down" aos-easing="ease" aos-delay="100">
			<div class="swiper-container swiper-container1">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="img/banner1.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="img/banner1.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="img/banner1.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="img/banner1.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="img/banner1.jpg" />

					</div>
					<div class="swiper-slide">
						<img src="img/banner1.jpg" />
					</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"> <img src="img/next.png" /> </div>
				<div class="swiper-button-prev"><img src="img/prev.png" /> </div>
			</div>

		</div>
		<div class="lx-content">
			<div class="lx-header" aos="fade-down" aos-easing="ease" aos-delay="550">
				<div class="lx-h-name">
					<strong>产品中心</strong>
					<span>PRODUCT CENTER</span>
				</div>
				<p class="lx-ms">半导体是专业从事 二极管、三极管、频率 等产业的制造商</p>
				<div class="slideTxtBox product-box">
					<div class="hd">
						<ul class="clearfix">
							<li class="on">整流桥 </li>
							<li>二极管</li>
						</ul>
					</div>
					<div class="bd">
						<div class="product-con">
							<ul>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg "></span>

										<img class="img-show" src="img/img-a1.png" />
										<img class="img-hide" src="img/img-a1-1.png" />
										<strong>普通整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg"></span>
										<img class="img-show" src="img/img-a2.png" />
										<img class="img-hide" src="img/img-a2-1.png" />
										<strong>快恢复整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg"></span>
										<img class="img-show" src="img/img-a3.png" />
										<img class="img-hide" src="img/img-a3-1.png" />
										<strong>超快恢复二极管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg"></span>
										<img class="img-show" src="img/img-a4.png" />
										<img class="img-hide" src="img/img-a4-1.png" />
										<strong>高效率整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg"></span>
										<img class="img-show" src="img/img-a5.png" />
										<img class="img-hide" src="img/img-a5-1.png" />
										<strong>肖特基垒势整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg"></span>
										<img class="img-show" src="img/img-a6.png" />
										<img class="img-hide" src="img/img-a6-1.png" />
										<strong>TVS管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
							</ul>
						</div>
						<div class="product-con" style="display: none;">
							<ul>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#"><span class="pro-item-bg"></span>
										<img src="img/img-a1.png" />
										<strong>普通整流管1</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#"><span class="pro-item-bg"></span>
										<img src="img/img-a2.png" />
										<strong>快恢复整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#"><span class="pro-item-bg"></span>
										<img src="img/img-a3.png" />
										<strong>超快恢复二极管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#"><span class="pro-item-bg"></span>
										<img src="img/img-a4.png" />
										<strong>高效率整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg"></span>
										<img src="img/img-a5.png" />
										<strong>肖特基垒势整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#"><span class="pro-item-bg"></span>
										<img src="img/img-a6.png" />
										<strong>TVS管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="lx-content" style="background: #fff;">
				<div class="lx-header" aos="fade-down" aos-easing="ease" aos-delay="550">
					<div class="lx-h-name">
						<strong>关于力芯</strong>
						<span>ABOUT LIXIN</span>
					</div>
					<p class="lx-ms">半导体是专业从事 二极管、三极管、频率 等产业的制造商</p>

					<div class="about-box">

						<div class="lx-jianjie" aos="fade-down" aos-easing="ease" aos-delay="600">
							<div class=" lx-introduction">

								<strong>公司简介</strong>
								<p class="int-tent">湖北力芯半导体有限公司地处中国中部地区的湖北省十堰市境内，距离中国著名的道教圣地武当山仅一小时车程，交通非常便利，距离十堰机场和十堰高铁站均在一小时车程内。 公司是专业从事半导体分立器件研发、生产、销售和技术支持的新兴高科技企业。多年来一直致力于高品质二极管整流桥的制造,“PWS”为公司自主品牌，工厂占地面积2万平方米...
								</p>

								<a class="btn-more" href="#">查看更多</a>
							</div>
						</div>
						<div class="swiper-container  swiper-container1">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="banner-left" aos="fade-right" aos-easing="ease" aos-delay="600">
										<img src="img/banner2.png" />

									</div>
									<div class="banner-right" aos="fade-left" aos-easing="ease" aos-delay="600">
										<img src="img/img-banner3.jpg" />

									</div>
								</div>
								<div class="swiper-slide">
									<div class="banner-left">
										<img src="img/banner2.png" />

									</div>
									<div class="banner-right">
										<img src="img/img-banner3.jpg" />

									</div>
								</div>
								<div class="swiper-slide">
									<div class="banner-left">
										<img src="img/banner2.png" />

									</div>
									<div class="banner-right">
										<img src="img/img-banner3.jpg" />

									</div>
								</div>
							</div>
							<!-- Add Pagination -->
							<div class="swiper-pagination"></div>
							<!-- Add Arrows -->
							<div class="swiper-button-next"> <img src="img/next.png" /> </div>
							<div class="swiper-button-prev"><img src="img/prev.png" /> </div>
						</div>
					</div>
				</div>

				<div class="lx-content" style="background: #fff;">
					<div class="lx-header" aos="fade-down" aos-easing="ease" aos-delay="550">
						<div class="lx-h-name">
							<strong>新闻动态</strong>
							<span>NEWS CENTER</span>
						</div>
						<p class="lx-ms">半导体是专业从事 二极管、三极管、频率 等产业的制造商</p>

						<div class="news-box">

							<div class="news-list new-left" aos="fade-right" aos-easing="ease" aos-delay="550">

								<div class="new-photo">
									<img src="img/img-a10.png" />
								</div>

								<div class="new-tit">
									<a href="#">整流二极管的计算与质量判断</a>
									<label class="icon iconfont iconjiantou"> </label>
								</div>

								<div class="new-introduce">
									<div class="intro-left">
										<strong>2020</strong>
										<span>10-26</span>
									</div>
									<div class="intro-right">
										在对整流二极管进行电路设计时，选择性能参数合适的整流二极管是非常重要的，以实际设计电路为例子。 由图可知，交流输入端为：220 在对整流二极管进行电路设计时，选择性能参数合适的整流二极管是非常重要的，以实际设计电路为例子。 由图可知，交流输入端为：220
									</div>
								</div>

							</div>
							<div class="news-list new-right" aos="fade-left" aos-easing="ease" aos-delay="550">
								<div class="new-item">
									<p class="p-time">2020-10-07</p>
									<a href="#">晶振与匹配电容的总结 </a>
									<div class="new-jianjie">
										在对整流二极管进行电路设计时，选择性能参数合适的整流二极管是非常重要的，以实际设计电路为例子。由图可知，交流输入端为：220V/50HZ，要求整流输出的直流电…
									</div>
								</div>
								<div class="new-item">
									<p class="p-time">2020-10-07</p>
									<a href="#">晶振与匹配电容的总结 </a>
									<div class="new-jianjie">
										在对整流二极管进行电路设计时，选择性能参数合适的整流二极管是非常重要的，以实际设计电路为例子。由图可知，交流输入端为：220V/50HZ，要求整流输出的直流电…
									</div>
								</div>
								<div class="new-item">
									<p class="p-time">2020-10-07</p>
									<a href="#">晶振与匹配电容的总结 </a>
									<div class="new-jianjie">
										在对整流二极管进行电路设计时，选择性能参数合适的整流二极管是非常重要的选择性能参数合适的整流二极管是非常重要的选择性能参数合适的整流二极管是非常重要的选择性能参数合适的整流二极管是非常重要的选择性能参数合适的整流二极管是非常重要的，以实际设计电路为例子。由图可知，交流输入端为：220V/50HZ，要求整流输出的直流电…
									</div>
								</div>
							</div>
							<div class="d-each-more">
								<a href="#"> 查看更多</a>
							</div>
						</div>

					</div>

					<div class="lx-content" style="    padding-bottom: 1px;">
						<div class="lx-header" aos="fade-down" aos-easing="ease" aos-delay="550">
							<div class="lx-h-name">
								<strong>厂房设备</strong>
								<span>PLANT EQUIPMENT</span>
							</div>
							<p class="lx-ms">半导体是专业从事 二极管、三极管、频率 等产业的制造商</p>
						</div>

						<div class="plant-box product-box">
							<!-- Swiper -->
							<div class="swiper-container swiper-container2">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div aos="fade-down" aos-easing="ease" aos-delay="550">
											<img src="img/img-a16.png" />

										</div>
										<a href="#" aos="fade-down" aos-easing="ease" aos-delay="550">
										 	硅提炼及提纯
										 </a>
									</div>
									<div class="swiper-slide">
										<div aos="fade-down" aos-easing="ease" aos-delay="550">
											<img src="img/img-a16.png" />

										</div>
										<a href="#" aos="fade-down" aos-easing="ease" aos-delay="550">
										 	硅提炼及提纯
										 </a>
									</div>
									<div class="swiper-slide">
										<div aos="fade-down" aos-easing="ease" aos-delay="550">
											<img src="img/img-a16.png" />

										</div>
										<a href="#" aos="fade-down" aos-easing="ease" aos-delay="550">
										 	硅提炼及提纯
										 </a>
									</div>
									<div class="swiper-slide">
										<div aos="fade-down" aos-easing="ease" aos-delay="550">
											<img src="img/img-a16.png" />

										</div>
										<a href="#" aos="fade-down" aos-easing="ease" aos-delay="550">
										 	硅提炼及提纯
										 </a>
									</div>
									<div class="swiper-slide">
										<div aos="fade-down" aos-easing="ease" aos-delay="550">
											<img src="img/img-a16.png" />

										</div>
										<a href="#" aos="fade-down" aos-easing="ease" aos-delay="550">
										 	硅提炼及提纯
										 </a>
									</div>
									<div class="swiper-slide">
										<div aos="fade-down" aos-easing="ease" aos-delay="550">
											<img src="img/img-a16.png" />

										</div>
										<a href="#" aos="fade-down" aos-easing="ease" aos-delay="550">
										 	硅提炼及提纯
										 </a>
									</div>
								</div>

							</div>
							<!-- Add Pagination -->
							<div class="swiper-pagination"></div>
							<div class="swiper-button-next"> </div>
							<div class="swiper-button-prev"> </div>
						</div>
					</div>
					<div class="link-box">
						<div class="in-link in-public clearfix">
							<span>友情链接：</span>
							<a href="http://hxkjhb.com/" target="_blank">十堰网站建设</a>

						</div>
					</div>
					<div class="in-pc">

						<div class="footer-1">
							<div class="in-public clearfix">
								<ul class="footer-1-left clearfix">
									<li>
										<h2> <a href="#">关于力芯</a> </h2> <span> 
      <a href="#">新闻动态</a> 
 
									<li>
										<h2> <a href="#">产品中心</a> </h2> <span> 
      <a href="#">关于我们</a> 
      </span> </li>
									<li>
										<h2> <a href="/kehufuwu/">厂房设备</a> </h2> <span>  </span> </li>

								</ul>
								<div class="footer-1-centent">
									<span> <img src="img/img-er.jpg"> </span>
									<strong>关注我们</strong>
								</div>
								<div class="footer-1-right">

									<span>地址：湖北省十堰市房县北城工业园一栋</span>
									<span>张先生：177-1237-7568  George.Zhang@powsemi.com</span>
									<span>夏先生：134-2510-3528  sales@powsemi.com</span>
									<span>电话：0719-3105699 传真：0719-3103688</span>
								</div>
							</div>
						</div>
						<div class="footer-2">
							<div class="in-public">
								<p>Copyright © 2017 All Rights reserved © 湖北力芯半导体有限公司 技术支持：<a href="http://www.hxkjhb.com/" target="_blank">华想科技</a> <a href="/sitemap.html" target="_blank">网站地图</a> </p>
							</div>
						</div>

						<!--在线客服-->
						<div id="kf-z">
							<div class="kf">
								<div class="side">
									<ul>
										<li class="kf-q">
											<a href="tencent://message/?uin=271459720&amp;Menu=yes" class="">
												<div class="sidebox clearfix" style="width: 48px;">
													<div class="tp_1 bj01  icon iconfont   iconqq"></div>
													<div class="tp_2">
														在线客服
													</div>
												</div>
											</a>
										</li>
										<li class="kf-q side-1">
											<a href="#" class="">
												<div class="sidebox clearfix icon iconfont  " style="width: 48px;">
													<div class="tp_1 bj02 fa icon iconfont   icon3"></div>
													<div class="tp_2">
														0719-3105699
													</div>
												</div>
											</a>
										</li>
										<li class="er_4 kf-1 border-1">
											<a href="#">
												<div class="tp_1 bj03 fa icon iconfont  iconiconweixinzhifu"></div>
											</a>
											<div class="er_3">
												<div>
													<img src="img/img-er.jpg" alt="">
												</div>
											</div>
										</li>
										<li class="kf-2 k-bj-4 border-1 " id="scrollSearchDiv" style="display: none;">
											<a href="javascript:goTop();" class="sidetop tp_1 bj04 icon iconfont iconjiantou-copy-copy-copy"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!--在线客服结束-->

						<script type="text/javascript" src="js/aos.js"></script>
						<script type="text/javascript">
							AOS.init({
								easing: 'ease-out-back',
								duration: 1000
							});
						</script>
					</div>

					<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
					<script type="text/javascript" src="js/swiper.min.js"></script>
					<script type="text/javascript" src="js/TweenMax.min.js"></script>
					<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
					<script>
						var swiper = new Swiper('.swiper-container1', {
							keyboard: true,
							virtualTranslate: true,
							on: {
								setTranslate: function() {
									this.$wrapperEl.transition('')
									TweenMax.to(this.$wrapperEl, 1.5, {
										x: this.translate,
										ease: Power4.easeOut
									})
								}
							},
							pagination: {
								el: '.swiper-pagination',
								clickable: true,
							},
							navigation: {
								nextEl: '.swiper-button-next',
								prevEl: '.swiper-button-prev',
							},
						});
						/*厂房设备*/
						var swiper = new Swiper('.swiper-container2', {
							slidesPerView: 1,
							spaceBetween: 1,
							// init: false,
							pagination: {
								el: '.swiper-pagination',
								clickable: true,
								bulletClass: 'swiper-dot',
								bulletActiveClass: 'swiper-dot-active',
							},
							breakpoints: {
								'@0.00': {
									slidesPerView: 1,
									spaceBetween: 10,
								},
								'@0.75': {
									slidesPerView: 2,
									spaceBetween: 20,
								},
								'@1.00': {
									slidesPerView: 3,
									spaceBetween: 20,
								},
								'@1.50': {
									slidesPerView: 4,
									spaceBetween: 20,
								},
							},
							navigation: {
								nextEl: '.swiper-button-next',
								prevEl: '.swiper-button-prev',
							},
						});
					</script>

					<script type="text/javascript">
						$(document).ready(function() {
							$(".side ul li").hover(function() {
								$(this).find(".sidebox").stop().animate({
									"width": "200px"
								}, 200).css({})
							}, function() {
								$(this).find(".sidebox").stop().animate({
									"width": "48px"
								}, 200).css({})
							});
						});

						function goTop() {
							$('html,body').animate({
								'scrollTop': 0
							}, 600);
						}
						$(function() {
							$(window).bind("scroll", function() {
								var sTop = $(window).scrollTop();
								var sTop = parseInt(sTop);
								if (sTop >= 130) {
									if (!$("#scrollSearchDiv").is(":visible")) {
										try {
											$("#scrollSearchDiv").slideDown();
										} catch (e) {
											$("#scrollSearchDiv").show();
										}
									}
								} else {
									if ($("#scrollSearchDiv").is(":visible")) {
										try {
											$("#scrollSearchDiv").slideUp();
										} catch (e) {
											$("#scrollSearchDiv").hide();
										}
									}
								}
							});
						})
						 jQuery(".slideTxtBox").slide();
						$(".product-box .product-con li a").hover(function() {
							$(this).find(".img-show").hide();
							$(this).find(".img-hide").show();
						}, function() {
							$(this).find(".img-show").show();
							$(this).find(".img-hide").hide();
						})
					</script>

	</body>

</html>