								<div class="footer-1-centent">
									<span> <img src="/{{ directory }}/img/img-er.jpg"> </span>
									<strong>{{ 'Follow Us'|t }}</strong>
								</div>
								<div class="footer-1-right">
  {% block content %}
    {{ content }}
  {% endblock %}
								</div>
