{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
<div class="smdui_ss_header">
												<table role="presentation" style="width:100%" cellspacing="0" cellpadding="0">
													<thead>
														<tr section="header" role="row">
															<td role="presentation" column="0" class="smdui_first" rowspan="2">
																<div role="columnheader" class="smdui_hcell" style="line-height:73px; height:73px;">TYPE</div>
															</td>
															<td role="presentation">
																<div role="columnheader" class="smdui_hcell">V<sub>RRM</sub></div>
															</td>
															<td role="presentation" column="4">
																<div role="columnheader" class="smdui_hcell">IF<sub>(AV) </sub></div>
															</td>
															<td role="presentation" column="5">
																<div role="columnheader" class="smdui_hcell">I<sub>FSM</sub></div>
															</td>
															<td role="presentation" column="6">
																<div role="columnheader" class="smdui_hcell">V<sub>F</sub></div>
															</td>
															<td role="presentation" column="7">
																<div role="columnheader" class="smdui_hcell">I<sub>R</sub></div>
															</td>
															<td role="presentation" column="8">
																<div role="columnheader" class="smdui_hcell">T<sub>rr</sub> </div>
															</td>
															<td role="presentation" column="7">
																<div role="columnheader" class="smdui_hcell"> TJ Max.</div>
															</td>
															<td role="presentation" column="7" rowspan="2">
																<div role="columnheader" class="smdui_hcell"> Package</div>
															</td>

														</tr>
														<tr section="header" role="row">
															<td role="presentation" column="1">
																<div role="columnheader" class="smdui_hcell">V</div>
															</td>
															<td role="presentation" column="2">
																<div role="columnheader" class="smdui_hcell">A</div>
															</td>
															<td role="presentation" column="3">
																<div role="columnheader" class="smdui_hcell">A</div>
															</td>
															<td role="presentation" column="4">
																<div role="columnheader" class="smdui_hcell">V</div>
															</td>
															<td role="presentation" column="5">
																<div role="columnheader" class="smdui_hcell">μA</div>
															</td>
															<td role="presentation" column="6">
																<div role="columnheader" class="smdui_hcell">ns</div>
															</td>
															<td role="presentation" column="7">
																<div role="columnheader" class="smdui_hcell">(°C)</div>
															</td>

														</tr>
														<tr section="header" role="row">
															<td role="presentation" column="0" class="smdui_first" active_id="1603933307146">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select class="select-type">
                                    <option value=""></option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="1" active_id="1603933307147">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select class="select-vrrm">
                                    <option value=""></option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="2" active_id="1603933307148">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select class="select-ifav">
                                    <option value=""></option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="3" active_id="1603933307149">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select class="select-ifsm">
                                    <option value=""></option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="4" active_id="1603933307150">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select class="select-vf">
                                    <option value=""></option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="5" active_id="1603933307151">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select class="select-ir">
                                    <option value=""></option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="6" active_id="1603933307152">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select class="select-trr">
                                    <option value=""></option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="7" active_id="1603933307153">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select class="select-tjmax">
                                    <option value=""></option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="8" active_id="1603933307154">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select class="select-package">
                                    <option value=""></option>
																	</select>
																</div>
															</td>
														</tr>
													</thead>
                          <tbody>
                          </tbody>
												</table>
                        </div>
    {{ rows }}
